.topdog {
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 100px;
}

.tiktok
{
background-color: rgb(215, 243, 243);

font-family: 'Times New Roman', Times, serif;
font-size: 48px;
}